version: '3.8'

services:
  django:
    build:
      context: .
      dockerfile: Dockerfile.coolify
    environment:
      - DEBUG=off
      - SECRET_KEY=${SECRET_KEY}
      - ALLOWED_HOSTS=${PUBLIC_URL}
      - CSRF_TRUSTED_ORIGINS=${PUBLIC_URL}
      - SECURE_PROXY_SSL_HEADER=HTTP_X_FORWARDED_PROTO,https
      - DATABASE_NAME=/app/db.sqlite3
      - GAMES_DATABASE_NAME=/app/games.db
    volumes:
      - ./data:/app/data
    networks:
      - default
    restart: unless-stopped
    command: gunicorn --bind 0.0.0.0:8000 core.wsgi:application

  datasette:
    build:
      context: .
      dockerfile: Dockerfile.datasette.coolify
    environment:
      - PUBLIC_URL=${PUBLIC_URL}
    networks:
      - default
    restart: unless-stopped
    command: datasette --host 0.0.0.0 --port 8001

networks:
  default:
    external: true
    name: coolify